<div style="opacity:
    {% if dish.is_cooked_today %}
        1
    {% else %}
        0.5
    {% endif %}
;">
    Id: <b>{{dish.id}}</b><br>
    Name: <b>{{dish.name}}</b><br>
<!--    Order: {{dish.order}}<br>-->
<!--    Spicy: {{dish.spicy}}<br>-->
<!--    Description Pol: {{dish.description_pol}}<br>-->
<!--    Description Eng: {{dish.description_eng}}<br>-->
    <img src="http://www.hindusfood.pl/images/menu/{{dish.picture_file}}"><br>
<!--    Is_vegetarian: {{dish.is_vegetarian}}<br>-->
    <br>
</div>
